:root{
    --main-green: #00B257;
    --dark-green: #00883D;
    --main-yellow: #F8C400;
    --dark-yellow: #D5A900;
    --main-red: #FA3A2F;
    --dark-red: #E02A20;
    --main-blue: #0081BE;
    --dark-blue: #006494;
    --main-grey: #434C4D;
    --dark-grey: #272929;
    --light-grey: #E6EAEB;
    --dark-white: #F1F3F3;
}

body{
    font-family: sans-serif;
}

h1{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
    font-weight: lighter;
}

/* BUTTONS */

.button--green, .button--yellow, .button--red, .button--blue, .button--grey{
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 210px;
    height: 65px;
    border-radius: 4px;
    margin-left: 4%;
}

.button--green{
    background: linear-gradient(#00C760, #00A941);
    border: solid var(--dark-green) 1px;
}

.button--green:hover{
    background: var(--main-green);
}

.button--yellow{
    background: linear-gradient(#FFD900 ,#F9BD00);
    border: solid var(--dark-yellow) 1px;
}

.button--yellow:hover{
    background: var(--main-yellow);
}

.button--red{
    background: linear-gradient(#FF4234 ,#F7190A);
    border: solid var(--dark-red) 1px;
}

.button--red:hover{
    background: var(--main-red);
}

.button--blue{
    background: linear-gradient(#0090D4 ,#0072B6);
    border: solid var(--dark-blue) 1px;
}

.button--blue:hover{
    background: var(--main-blue);
}

.button--grey{
    background: linear-gradient(#4B5556, #2E3839);
    border: solid var(--dark-grey) 1px;
}

.button--grey:hover{
    background: var(--main-grey);
}


/* TOGGLE BUTTONS */


.button--toggle__switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

/* square */

.button--toggle__switch {
    margin-bottom: 2%;
    margin-left: 4%;
    display: flex;
    width: 100px;
    height: 40px;
}

.switch__slider--square {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 108px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grey);
    border-radius: 8px;
    transition: 1s;
}

.switch__slider--square:before {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    content: "OFF";
    font-size: 10px;
    height: 25px;
    width: 40px;
    background-color: var(--main-red);
    border-radius: 8px;
    transition: 1s;
    margin-left: 4px;
}

input:checked + .switch__slider--square:before {
    transform: translateX(110%);
    background-color: var(--main-green);
    content: "ON";
}

/* circle */

.button--toggle__switch {
    display: flex;
    width: 100px;
    height: 40px;
}

.switch__slider--circle {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 108px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grey);
    border-radius: 50px;
    box-shadow: 1px 0px #c8c8c8;
    transition: 1.5s;
}

.switch__slider--circle:before {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-grey);
    content: url("uncheck.png");
    height: 32px;
    width: 35px;
    background-color: var(--dark-white);
    border-radius: 50%;
    transition: 1.5s;
    margin-left: 4px;
    box-shadow: 1px 0px #c8c8c8;
}

input:checked + .switch__slider--circle{
    background: var(--main-green);
}

input:checked + .switch__slider--circle:before {
    transform: translateX(50px);
    background-color: var(--dark-white);
    content: url("check.png");
}


/* BOUTONS RADIOS */


.button-radio__green, .button-radio__yellow, .button-radio__red, .button-radio__blue, .button-radio__grey {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

#radio__yellow, #radio__grey, #radio__green, #radio__red, #radio__blue{
    display: none;
}

.button-radio__green, .button-radio__yellow, .button-radio__red, .button-radio__blue, .button-radio__grey label {
    color: #666;
    font-weight: normal;
}

.button-radio__green label:before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    background-color: transparent;
}
.button-radio__yellow label:before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    background-color: transparent;
}
.button-radio__red label:before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    background-color: transparent;
}
.button-radio__blue label:before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    background-color: transparent;
}
.button-radio__grey label:before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    background-color: transparent;
}

.radio__green, .radio__yellow, .radio__red, .radio__blue, .radio__grey input[type=radio]:checked + label:after {
    border-radius: 50%;
    width: 10px;
    content: "";
    display: block;
}

.radio__green input[type=radio]:checked + label:after {
    background: var(--main-green);
}
.radio__yellow input[type=radio]:checked + label:after {
    background: var(--main-yellow);
}
.radio__red input[type=radio]:checked + label:after {
    background: var(--main-red);
}
.radio__blue input[type=radio]:checked + label:after {
    background: var(--main-blue);
}
.radio__grey input[type=radio]:checked + label:after {
    background: var(--main-grey);
}

.button-radio__green input[type=radio]:checked + label:before{
    border-color: var(--main-green);
}
.button-radio__yellow input[type=radio]:checked + label:before{
    border-color: var(--main-yellow);
}
.button-radio__red input[type=radio]:checked + label:before{
    border-color: var(--main-red);
}
.button-radio__blue input[type=radio]:checked + label:before{
    border-color: var(--main-blue);
}
.button-radio__grey input[type=radio]:checked + label:before{
    border-color: var(--main-grey);
}

.button-radio__green--disable, .button-radio__yellow--disable, .button-radio__red--disable, .button-radio__blue--disable, .button-radio__grey--disable input[type=radio]:checked + label:after{
    opacity: 0.6;
}



.button-radio__green--disable, .button-radio__yellow--disable, .button-radio__red--disable, .button-radio__blue--disable, .button-radio__grey--disable input[type=radio]:checked + label:before{
    opacity: 0.6;
}