body{
    background-color: rgb(154, 109, 195);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 64px;
    font-weight: bold;
}

#lyrics, #previous-lyrics, #next-lyrics{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
}

#previous-lyrics, #next-lyrics{
    font-size: 32px;
    font-weight: normal;
    color: rgb(212, 212, 212)
}