body {
  font-family: sans-serif;
  margin: 10px;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 8px;
  padding: 150px 0px 150px 50px;
  display: flex;
  align-items: flex-start;
  column-gap: 75px;

  #left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 610px;
    row-gap: 24px;

    h1 {
      font-size: 64px;
      font-weight: bold;
      word-spacing: -6px;
      letter-spacing: -2px;
    }

    p {
      font-size: 32px;
      color: grey;
      line-height: 48px;
    }
  }

  #right-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px 25px;

    .team-card {
      display: flex;
      align-items: center;
      column-gap: 32px;
      width: 540px;

      .description {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .member-name {
          font-size: 28px;
        }

        .member-job {
          font-size: 28px;
          color: blue;
        }
      }
    }
  }
}
