body {
  font-family: sans-serif;
  margin: 10px;
  border: solid 1px rgb(225, 225, 225);
  border-radius: 8px;
  padding: 150px 0px 150px 50px;
  display: flex;
  align-items: flex-start;
  column-gap: 75px;

  @media screen and (max-width: 1300px) {
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 75px 0px 75px 25px;
  }

  @media screen and (max-width: 450px) {
    padding: 50px 0px 50px 15px;
  }

  #left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 610px;
    row-gap: 24px;

    h1 {
      font-size: 64px;
      font-weight: bold;
      word-spacing: -6px;
      letter-spacing: -2px;

      @media screen and (max-width: 450px) {
        font-size: 32px;
        word-spacing: inherit;
        letter-spacing: 0px;
      }
    }

    p {
      font-size: 32px;
      color: grey;
      line-height: 48px;

      @media screen and (max-width: 450px) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    @media screen and (max-width: 1300px) {
      max-width: max-content;
    }
  }

  #right-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px 25px;

    .team-card {
      display: flex;
      align-items: center;
      column-gap: 32px;
      width: 540px;

      .description {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .member-name {
          font-size: 28px;

          @media screen and (max-width: 450px) {
            font-size: 18px;
          }
        }

        .member-job {
          font-size: 28px;
          color: blue;
          line-height: 34px;

          @media screen and (max-width: 450px) {
            font-size: 18px;
            line-height: inherit;
          }
        }
      }

      @media screen and (max-width: 1300px) {
        width: 500px;
      }

      @media screen and (max-width: 450px) {
        width: max-content;
        column-gap: 16px;

        img {
          width: 90px;
        }
      }
    }

    @media screen and (max-width: 1300px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 450px) {
      gap: 50px 0;
    }
  }
}
