body{
    margin: 0;
    display: grid;
    grid-template-rows: repeat(2, 100vh); 
    height: 100vh;
    font-family: sans-serif;
}

/** First part **/

#top{
    background-image: url("https://via.placeholder.com/1920x1080");
    background-repeat: no-repeat;
    padding: 2%;
    color: white;
    display: grid;
    grid-template-rows: 5% 80%;
    margin: 0;
}

#menu{
    display: flex;
    justify-content: space-between;
}

#menu p{
    display: flex;
    align-items: center;
    font-size: 24px;
    column-gap: 10px;
}

#menu p > svg{
    width: 24px;
    height: auto;
}

#center-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5%;
}

#center-elements h1{
    font-size: 48px;
}

#center-elements svg{
    border: solid 3px white;
    padding: 15px;
    border-radius: 50%;
}

#center-elements button{
    background-color: rgb(44, 202, 202);
    border-radius: 50px;
    border: none;
    width: 300px;
    height: 80px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

/** Second part **/

#bottom{
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 8%;
    margin: 0;
    padding: 12vh 0vw 12vh 0vw;
}

#bottom #first-block{
    display: grid;
    grid-template-columns: 47% 53%;
    background-color: white;
    width: 75vw;
}

.text{
    padding: 0vh 3vw 3vh 3vw;
    line-height: 32px;
}

.text h3{
    font-size: 25px;
}

#bottom #second-block{
    display: grid;
    grid-template-columns: 53% 47%;
    background-color: white;
    width: 75vw;
}

#bottom-first-image, #bottom-second-image{
    background-image: url("https://via.placeholder.com/500x800");
    background-size: 100%;
    background-repeat: no-repeat;
}

.more{
    background-color: white;
    border: solid 3px rgb(39, 177, 177);
    color:rgb(39, 177, 177);
    font-weight: bold;
    font-size: 17px;
    border-radius: 50px;
    width: 170px;
    height: 50px;
}