{% extends "base.html.twig" %}

{% block title %}Admin Login{% endblock %}


{% block content %}

    <h1>Login admin account</h1>

    <form action="" method="POST">
        <input type="text" placeholder="mail" name="mail" id="mail">
        <input type="password" placeholder="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>

{% endblock %}