<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (typeof movies !== 'undefined') { %> 
        <ul>
        <% for (let i = 0; i < movies.length; i++) { %>
            <li>
                <a href="/movies/<%= movies[i].id_film %>"><%= movies[i].titre %></a>
                <button class="delete-movie" film-id="<%= movies[i].id_film %> ">Delete the movie</button>
            </li>
        <% } %>
        </ul>
    <% } else { %>
        <h1><%= movie[0].titre %></h1> 
    <% } %>

    <script>

        let buttons = document.querySelectorAll('button.delete-movie')

        for (const key in buttons) {
            buttons[key].addEventListener('click', () => {
                let id = buttons[key].getAttribute('film-id')
                fetch(`/api/movies/` + id, {
                    method: 'DELETE'
                }).then((res) => {
                    res.json().then((json) => {
                        console.log(json)
                    })
                })
            })
        }

    </script>
</body>
</html>