<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="/assets/style/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style/reset.css" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
</head>
<body id="body">

<header>
    {% block header %}

        <a href="/">Home</a>
        <a href="/tasks">Tasks</a>
        <a href="/deconnection">Disconnect</a>

    {% endblock %}
</header>
    

{% block content %}
{% endblock %}


</body>
</html>