.checkerboard{
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
}

.checkerboard>div{
    height: 400px;
}